:root{
    /* --text: #080708;
    --background: #2A2C2E;
    --primary: #27292B;
    --header: rgb(172, 153, 155, 0.9);
    --border: #cccccc; */

    --text: #fdfdfd;
    --background: #092c50;
    --primary: #092847;
    --secondary: #0b325a;
    --header: rgba(18, 92, 167, 0.952);
    --border: #cccccc;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    transition: 0.2s ease;
    color: var(--text);
}

body{
    background-color: var(--background);
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
}

header{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header);
    padding: 1rem;
    width: 100%;
    border-bottom: solid var(--border) 0.1rem;
    z-index: 99;
}

header div{
    text-align: center;
}

header div a{
    padding: 1rem;
    color: var(--primary);
}

.menu{
    display: flex;
    flex-wrap: wrap;
}

.menu > ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.menu li{
    margin: 1rem 0.2rem;
}


.menu a{
    padding: 0.5rem 0.8rem;
    border: solid black 0.1rem;
    border-radius: 1rem;
}

.menu a:hover{
    background-color: var(--primary);
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 43rem;
    /* height: 100vh; */
    width: 90%;
    margin: 0 auto 1rem auto;
    padding: 1rem;
    background-color: var(--primary);
    text-align: center;
}

.title{
    font-size: 2rem;
    margin: 1rem 0;
}

section > img{
    max-width: 10rem;
    max-height: 10rem;
    width: auto;
    height: auto;
    border: solid var(--border) 0.2rem;
    border-radius: 100%;
    margin: 0 auto 2rem auto;
}

.box-text{
    border: solid var(--border) 0.1rem;
    border-radius: 0.5rem;
    margin: 0 auto;
    padding: 1rem 1rem;
    width: 90%;
    line-height: 1.5;
    align-content: center;
    background-color: var(--secondary);
}

.box-text img{
    max-width: 40rem;
    width: 80%;
    height: auto;
}

.box-text h3{
    font-weight: 400;
    margin-bottom: 1rem;
}

.box-text p{
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.box-text > a{
    color: var(--primary);
    padding: 10px 20px;
    background-color: var(--border);
    border-radius: 5px;
}


.box-text > a:hover{
    color: var(--border);
    background-color: var(--primary);
}

.grid{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    align-items: center;
}

.box2{
    min-height: 25rem;
}

.box2 img{
    border-radius: 0;
}

.box2:hover{
    background-color: var(--header);
    cursor: pointer;
}

/* #projects{
    background-color: red;
}

#about{
    background-color: blue;
} */

@media (min-width: 748px){
    header{
        position: fixed;
    }
} 

@media (min-width: 1024px){
    header{
        position: fixed;
    }

    .box1{
        width: 50%;
    }
    .box2{
        width: 30%;
    }
}